[submodule "graphql-poc"]
	path = graphql-poc
	url = git@github.com:coder7475/graphql-poc.git
[submodule "socket_programming"]
	path = socket_programming
	url = git@github.com:coder7475/socket_programming.git
[submodule "server-side-events"]
	path = server-side-events
	url = git@github.com:coder7475/server-side-events.git
[submodule "elk-stack"]
	path = elk-stack
	url = git@github.com:coder7475/elk-stack.git
[submodule "go"]
	path = go
	url = git@github.com:coder7475/go.git
[submodule "frameworks"]
	path = frameworks
	url = git@github.com:coder7475/nestjs.git
[submodule "nestjs"]
	path = nestjs
	url = git@github.com:coder7475/nestjs.git
